body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    margin: 0 auto'
    
}
